<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/index_style.css">

    <title>Document</title>
</head>
<body>
    <h1>hej</h1>
    <% data.forEach(function (post) { %>
        <% if(post.text3 != ''){ %>
         <img src="<%= post.text3 %>">
        <% } %> 
        <%= post.text1 %>
        <%= post.text2%>
        <p><%= post.text3%></p>
        <p><%= post.data %></p>
<% }) %>
</body>
</html>